
:root {
  --verde-escuro: #2e7d32;
  --verde-claro: #a5d6a7;
  --amarelo: #fbc02d;
  --cinza: #f5f5f5;
  --texto: #212121;
  --verde-claro: #A5D6A7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: var(--cinza);
  color: var(--texto);
}

.sobre {
    width: 60%; 
    margin: 0 auto;    
    text-align: justify;
}

.titulo {
    text-align: center;
    color: var(--verde-escuro);
}


header {
  background: var(--verde-escuro);
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  text-align: center;
}

h2 {
  color: var(--verde-escuro);
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  margin: 1rem auto;
  display: inline-block;
  text-align: left;
}

.btn {
  display: inline-block;
  background: var(--amarelo);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #f9a825;
}

footer {
  background: var(--verde-escuro);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
